spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5432/Ecommerce-orderDB
    username: postgres
    password: challanger

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  cloud:
    config:
      enabled: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true


server:
  port: 8081