spring:
  application:
    name: product-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/productServiceDb

  cloud:
    config:
      enabled: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

server:
  port: 8082
